CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/CS-160-Project/dlib_build/
/CS-160-Project/pp
/CS-160-Project/build/
